
.dashboard-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #333; 
    color: #f1e4e4; 
  }
  
 
  h1, h2, h3 {
    color: #ffffff;
    margin-bottom: 15px;
  }
  

  .p-datatable {
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #444; 
  }
  

  .p-datatable .p-datatable-thead > tr > th {
    background-color: #f8e4e4; 
    color: #0c0c0c;
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }
  

  .p-datatable .p-datatable-tbody > tr > td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #555; 
    color: #eed6d6;
  }
  

  .p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background-color: #555; 
  }
  
 
  .p-datatable .p-datatable-tbody > tr:hover {
    background-color: #e2d9d9; 
    cursor: pointer;
  }

  .p-datatable .p-column-header {
    font-weight: bold;
    text-align: center;
  }
  
 
  .p-datatable .p-datatable-scrollable-header {
    background-color: #333;
  }
  
 
  .chart-container {
    display: flex;
    justify-content: space-between;
    gap: 30px; 
    margin-top: 30px;
  }
  
  .chart-box {
    width: 48%; 
    height: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #333; 
    border-radius: 8px;
  }
  
  .chart-box h3 {
    text-align: center;
    color: #fff; 
    margin-bottom: 20px;
  }
  

  .p-datatable .p-datatable-thead > tr > th {
    background-color: #8e24aa;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }
  
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
    color: #fff;
  }
  
  .p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background-color: #141414;
  }
  

  .p-button {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
    color: white;
    font-weight: bold;
  }
  
  .p-button:hover {
    background-color: #45a049 !important;
    border-color: #45a049 !important;
  }
  